.arduino {
  position: relative;
}

.container {
  position: absolute;
  top: 10vh;
  right: 2vw;
  width: 50%;
}

.lab-headline {
  font-size: 4vw;
  line-height: 1;
  margin-bottom: 25px;
}

.day-headline h1 {
  display: inline-block;
  background: white;
  width: auto;
  font-family: "mad-sans-black.woff";
  font-size: 1.5vw;
  line-height: 1;
  margin-bottom: 30px;
  padding: 2px 5px;
}

.lab-explainer p {
  font-size: 1.5vw;
  line-height: 1.5;
}

.signup-button-small {
  width: 200px;
  padding: 5px 10px;
  margin-top: 50px;
  background: #fff;
  align-self: flex-end;
  position: absolute;
  right: 8vw;
}

.signup-button-small h2 {
  font-family: "mad-sans-black.woff";
}

.signup-button-small:hover {
  background: pink;
}
