.facts-container {
  position: relative;
}

@keyframes infoboxmoves {
  0% {
    transform: rotate(0deg);

  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.info-box:hover {
  z-index: 10;
  animation: infoboxmoves 1s ease;
}

.info-box {
  position: absolute;
  width: 30vw;
  height: 40vh;
}

.box1 {
  top: 200px;
  left: 20px;
  background-color: yellow;
}

.box2 {
  top: 250px;
  left: 40px;
  background-color: green;
}

.box3 {
  top: 300px;
  left: 60px;
  background-color: white;
}

.box4 {
  top: 350px;
  left: 500px;
  background-color: #fab;
}

.box5 {
  top: 500px;
  left: 200px;
  background-color: red;
}
