.footer {
  height: 30vh;
  display: flex;
  text-align: center;
  padding-top: 20vh;

}

.footer-bg img {
  position: absolute;
  width: 100%;


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
