.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;
}

.logo-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw 2vw 0 0;
}

.grandma {
  font-family: "mad-sans-black.woff";
  font-size: 10vh;
}
