.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo h1 {
  font-family: "mad-sans-black.woff";
  font-size: 9vw;
}

.menu {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-end;
  padding-top: 2vh;
}

.menu h3 {
  font-size: 1vw;
  margin-right: 20px
}
