.pink {
  background-color: #fab;
}

.pink-p {
  color: #FF729F;
}


.labinfo-container {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  margin: 50px 0 80px;
}

.labinfo-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.labinfo,
.place,
.date {
  padding: 2vh 2vw;
  width: auto;
}

.border-right {
  border-right: solid 2px black;
}

.border-top {
  border-top: solid 2px black;
}

.border-left {
  border-left: solid 2px black;
  align-self: flex-end;
}

.know-more h2 {
  text-align: center;
  padding: 0 2vw;
  border-left: solid 2px black;
}

.apply:hover {
  background-color: red;
}


.arrow {
  width: 100px;
  height: 30px;

}

.long-line,
.short-line1,
.short-line2 {
  width: 100px;
  height: 1px;
  background-color: #000;
}
